@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 400;
  src: url(../fonts/zilla-slab/ZillaSlab-Regular.otf) format('opentype');
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 400;
  font-style:italic;
  src: url('../fonts/zilla-slab/ZillaSlab-RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 500;
  src: url("../fonts/zilla-slab/ZillaSlab-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 600;
  src: url("../fonts/zilla-slab/ZillaSlab-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 700;
  src: url("../fonts/zilla-slab/ZillaSlab-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 700;
  font-style:italic;
  src: url("../fonts/zilla-slab/ZillaSlab-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  src: url("../fonts/libre-franklin/librefranklin-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  src: url("../fonts/libre-franklin/librefranklin-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-mediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  src: url("../fonts/libre-franklin/librefranklin-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-semibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 700;
  src: url("../fonts/libre-franklin/librefranklin-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 700;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-bolditalic.ttf") format("truetype");
}
a{ @apply text-blue-700 font-semibold border-b-2 border-yellow-400;}
hr {border-width:0;}

th{
  @apply bg-gray-100 text-gray-300 font-bold py-2  text-left;
}

}
/* # end base  */



.text-tiny {
	font-size:12px;
	line-height:16px;
	@apply font-body;
}
.text-small{
	font-size:14px;
	line-height:24px;
	@apply font-body;
}
.text-large{
	font-size:18px;
	line-height:32px;
	@apply font-body;
}
.heading-xs{
	font-size:21px;
	line-height:32px;
	font-weight:700;
	@apply font-display;
}
.heading-s{
	font-size:24px;
	line-height:40px;
	font-weight:700;
	@apply font-display;
}
.heading{
	font-size:28px;
	line-height:48px;
	font-weight:700;
	@apply font-display;
}
.heading-m{
	font-size:32px;
	line-height:56px;
	font-weight:700;
	@apply font-display;
}
.heading-l{
	font-size:36px;
	line-height:64px;
	font-weight:700;
	@apply font-display;
}
.heading-xl{
	font-size:48px;
	line-height:72px;
	font-weight:700;
	@apply font-display;
}
.heading-d{
	font-size:60px;
	line-height:80px;
	font-weight:400;
	@apply font-display;
}
.heading-dxl{
	font-size:72px;
	line-height:96px;
	font-weight:400;
	@apply font-display;
}
button{
	 @apply font-bold py-2 px-4 rounded bg-green-500 text-white;
}
button:hover{
	@apply bg-green-800;
}
button.btn-lg{
	@apply py-4 px-10 text-large;
}
.button-menu{
	@apply font-bold py-2 px-4 rounded bg-green-900 text-white;
}
.button-menu:hover{
	@apply bg-green-800;
}
.button-menu.btn-lg{
	@apply py-4 px-10 text-large;
}

.error-msg{
	@apply text-red-500 text-xs italic
}
label{
	@apply font-bold;
}
input[type='text'], textarea {
	@apply shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}
input[type='text']:focus, textarea:focus{
	@apply outline-none shadow-outline;
}
input[type='checkbox']{
	@apply text-blue-800 bg-red-800;
}
input.error {
	@apply shadow appearance-none border border-red-500 bg-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}
select{
	@apply block appearance-none w-full   border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}
select:focus{
 @apply   outline-none shadow-outline bg-white border-green-700;
}
select.error {
	@apply shadow appearance-none border border-red-500 bg-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}
::selection {
  background: #F7C5A4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F7C5A4; /* Gecko Browsers */
}
figcaption {
	@apply text-small italic text-gray-700 p-2;
}
p.short{max-width:39px; min-width:35px;}
p.compliant{max-width:50px; min-width:40px;}
p.optimal{max-width:90px; min-width:51px;}
p.toobig{ min-width:91px;}
.read {@apply ml-auto mr-auto;}
.read p {
 @apply  max-w-2xl mr-auto ml-auto my-4 text-large;
}
.read h1 {@apply heading-dxl text-orange-600}
.read h2 {@apply heading-l text-green-500 my-8;}
.read.home h2 {@apply text-orange-500;}
.read h3{@apply heading-m text-gray-400 my-8;}
.read h4 {@apply heading-s text-gray-700  my-8;}
.read h5 {@apply heading-xs text-gray-700  my-8;}
.read figure { @apply ml-auto mr-auto my-8;}
.read ul {
   @apply  max-w-xl mr-auto ml-auto my-4 text-large leading-snug list-disc ;
   max-width:620px;
}
.read footer h4 {
	@apply text-green-100;
}
.read footer ul {
	@apply list-none text-large;

}
.read blockquote p{
  max-width:none;
}
header  nav a{ /* #  differentiate from sitewide nav if needed */
	@apply border-0 ;
}
header nav .vertical-menu a {
	@apply text-large py-2 my-2;
}
.menu-toggle {
  display: inline-block;
  cursor: pointer;
  float:right;
  @apply border rounded px-2 py-1;
}
img.logo {width:85%; max-width:300px;}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  margin: 6px 0;
  transition: 0.4s;
  @apply bg-gray-100 ;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
header  nav button{
	background-color:transparent;
	white-space: nowrap;

}
header  nav button:focus{
	outline:none;
}
header .dropdown-box {
	min-width:500px; /* arbitrary size. adjust if necessary */
	min-height:200px;
	position:absolute;
	top:0px;
	left:0px;
}
header nav .utility {
	@apply border-l-8  pl-6 ml-2;
}
header  nav a.highlight{
	@apply bg-red-800 text-gray-100 flex  font-semibold text-large mb-4 mt-2 font-semibold  pl-1;
}
header nav .menu-right a{
	@apply font-light text-large text-gray-600;

	}
header nav .subnav.right a.highlight{
	@apply font-semibold text-large;
	}
header nav .subnav.right	.rightside-categories a {
	@apply font-semibold text-large;
}
header nav .vertical-menu .subnav.right	.rightside-categories a {
	@apply font-semibold text-large;
}
header nav .header {
	@apply mb-4;
}
header nav .dropdown-box {
    top:0px;
}
p{
	margin-top: .3em ;
	margin-bottom: .7em ;
}

nav a{ @apply text-white font-semibold border-b-2 border-blue-900;}
a.active{
@apply border-b-2 border-blue-900;
}
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
.text-shadow-md {
	text-shadow:2px 3px 4px #373533;
}
.card {
	@apply max-w-sm rounded overflow-hidden shadow-lg;
}
.card img {
	@apply w-full;
}
a .card h3, a .card h4 {
	@apply text-orange-600 font-display text-2xl font-bold;
}
a .card p{
	@apply text-gray-700 ;
}
.card.dark{
	@apply text-white bg-gray-800;
}
a .card.dark p{
	@apply text-white;
}
a .card.dark h3, a .card.dark h4 {
	@apply text-orange-500;
}
blockquote {
	@apply text-2xl border-l-4 border-green-200 text-gray-600 p-6 my-6 ;
}
blockquote footer{
	@apply text-small italic text-gray-500  mt-4 mb-2;
}
blockquote footer a{
 @apply not-italic;
}
