@import "tailwindcss";
@source "./src/*.{html,js,vue}","./src/components/*.{html,js,vue}", "./src/partials/*.html","../../../../deploy/templates/*.{html,twig,js}","../../../../deploy/templates/**/*.{html,twig,js}","../../../../deploy/templates/_components/*.{html,twig,js}";

@theme {
  --font-body: "Libre Franklin", sans-serif;
  --font-display: "Zilla Slab", serif;
}

@layer base {

/* @font-face {
  font-family: 'Zilla Slab';
  font-weight: 400;
  src: url(../fonts/zilla-slab/ZillaSlab-Regular.otf) format('opentype');
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 400;
  font-style:italic;
  src: url('../fonts/zilla-slab/ZillaSlab-RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 500;
  src: url("../fonts/zilla-slab/ZillaSlab-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 600;
  src: url("../fonts/zilla-slab/ZillaSlab-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 700;
  src: url("../fonts/zilla-slab/ZillaSlab-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Zilla Slab";
  font-weight: 700;
  font-style:italic;
  src: url("../fonts/zilla-slab/ZillaSlab-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  src: url("../fonts/libre-franklin/librefranklin-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-italic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  src: url("../fonts/libre-franklin/librefranklin-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 500;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-mediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  src: url("../fonts/libre-franklin/librefranklin-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 600;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-semibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 700;
  src: url("../fonts/libre-franklin/librefranklin-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Franklin";
  font-weight: 700;
  font-style:italic;
  src: url("../fonts/libre-franklin/librefranklin-bolditalic.ttf") format("truetype");
} */
a{ @apply text-blue-700 font-semibold border-b-2 border-yellow-400;}
hr {border-width:0;}

th{
  @apply bg-gray-100 text-gray-400 font-semibold py-2 my-2 text-left;
}

}
/* # end base  */

@utility text-tiny {
	font-size:12px;
	line-height:16px;
	@apply font-body;
}
@utility heading-xs{
	font-size:21px;
	line-height:32px;
	font-weight:700;
	@apply font-display;
}
@utility heading-sm{
	font-size:24px;
	line-height:40px;
	font-weight:700;
	@apply font-display;
}
@utility heading-base{
	font-size:28px;
	line-height:48px;
	font-weight:700;
	@apply font-display;
}
@utility heading-md{
	font-size:32px;
	line-height:56px;
	font-weight:700;
	@apply font-display;
}
@utility heading-lg{
	font-size:36px;
	line-height:64px;
	font-weight:700;
	@apply font-display;
}
@utility heading-xl{
	font-size:48px;
	line-height:72px;
	font-weight:700;
	@apply font-display;
}
@utility heading-d{
	font-size:60px;
	line-height:80px;
	font-weight:400;
	@apply font-display;
}

@utility heading-dxl{
	font-size:72px;
	line-height:96px;
	font-weight:400;
	@apply font-display;
}
@utility shadow-outline {
  box-shadow:0 0 0 3px rgba(96,171,210,0.5); 
}
@layer base{

.text-sm, .text-base,.text-lg, .text-xl,.text-2xl,.text-3xl{
	@apply font-body;
}


::selection {
  background: #F7C5A4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F7C5A4; /* Gecko Browsers */
}
}

header  nav a{ /* #  differentiate from sitewide nav if needed */
	@apply border-0 ;
}
header nav .vertical-menu a {
	@apply text-lg py-2 my-2;
}
.menu-toggle {
  display: inline-block;
  cursor: pointer;
  float:right;
  @apply border rounded px-2 py-1;
}
img.logo {width:85%; max-width:300px;}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  margin: 6px 0;
  transition: 0.4s;
  @apply bg-gray-100 ;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
header  nav button{
	background-color:transparent;
	white-space: nowrap;

}
header  nav button:focus{
	outline:none;
}
header .dropdown-box {
	min-width:500px; /* arbitrary size. adjust if necessary */
	min-height:200px;
	position:absolute;
	top:0px;
	left:0px;
}
header nav .utility {
	@apply border-l-8  pl-6 ml-2;
}
header  nav a.highlight{
	@apply bg-red-800 text-gray-100 flex  font-semibold text-lg mb-4 mt-2 font-semibold  pl-1;
}
header nav .menu-right a{
	@apply font-light text-lg text-gray-600;

	}
header nav .subnav.right a.highlight{
	@apply font-semibold text-lg;
	}
header nav .subnav.right	.rightside-categories a {
	@apply font-semibold text-lg;
}
header nav .vertical-menu .subnav.right	.rightside-categories a {
	@apply font-semibold text-lg;
}
header nav .header {
	@apply mb-4;
}
header nav .dropdown-box {
    top:0px;
}
p{
	margin-top: .3em ;
	margin-bottom: .7em ;
    white-space: normal;
}

nav a{ @apply text-white font-semibold border-b-2 border-blue-900;}
a.active{
@apply border-b-2 border-blue-900;
}

.text-shadow-md {
	text-shadow:2px 3px 4px #373533;
}
@layer utilities{
  .read {@apply ml-auto mr-auto;}
  .read p {
   @apply  max-w-2xl mr-auto ml-auto my-4 text-lg ;
  }
  .read h1 {@apply heading-dxl text-orange-600}
  .read h2 {@apply heading-lg text-blue-500 my-8;}
  .read.home h2 {@apply text-orange-500;}
  .read h3{@apply heading-md text-gray-400 my-8;}
  .read h4 {@apply heading-sm text-gray-700  my-8;}
  .read h5 {@apply heading-xs text-gray-700  my-8;}
  .read figure { @apply ml-auto mr-auto my-8;}
  .read ul {
     @apply  max-w-xl mr-auto ml-auto my-4 text-lg leading-snug list-disc ;
     max-width:620px;
  }
  .read footer h4 {
    @apply text-green-100;
  }
  .read footer ul {
    @apply list-none text-lg;
  
  }
 
  .read p, .read blockquote p{
		width:39ch;
	}
	figcaption {
	  @apply text-sm italic text-gray-700 p-2;
  }
  .card {
	  @apply max-w-sm rounded overflow-hidden  m-4;
  }
  a .card {
      @apply font-normal text-gray-800 max-w-sm
  }
  a .card.githubCard {
      @apply font-normal text-gray-800
  }
  .card.githubCard {
    @apply max-w-sm rounded overflow-hidden  m-4;
  }
  .card.imageCard {
    @apply max-w-sm rounded overflow-hidden shadow-lg m-4;
  }
  .card.imageCard img {
    @apply w-full;
  }
  .card.imageCard h3 {
    @apply text-orange-600 font-display text-2xl font-bold;
  }
  .card.imageCard h4 {
      @apply text-orange-500 font-display text-xl font-semibold;
  }
  .card.imageCard p{
    @apply text-gray-700 ;
  }
  .card.imageCard.dark{
    @apply text-white bg-gray-800;
  }
  .card.imageCard.dark h3, .card.imageCard.dark h4{
      @apply text-orange-400
  }
  .card.imageCard.dark p{
    @apply text-white;
  }
  .card.imageCard footer a, .card.imageCard footer span {
      @apply border-0 m-1
  }
  .card.imageCard.dark h3, .card.imageCard.dark h4 {
    @apply text-orange-500;
  }
  input[type='text']{
	@apply border
}
input[type='checkbox'], input[type='radio']{
	margin:2px;
}
div.drawer input[type='text'] {
    @apply border-0;
}

.button-menu{
	@apply font-bold py-2 px-4 rounded bg-green-900 text-white;
}
.button-menu:hover{
	@apply bg-green-800;
}
.button-menu.btn-lg{
	@apply py-4 px-10;
}

button{
	 @apply font-bold py-2 px-4 rounded-lg border border-gray-200 ;
}
button:hover{
	@apply bg-gray-200;
}
button.btn-lg{
	@apply py-4 px-10 ;
}
button.btn-active{
	@apply italic text-gray-500
}
button.btn-warning {
	@apply bg-orange-400 text-white border-orange-500
}
button.btn-warning:hover {
	@apply bg-orange-600
}
button.btn-error {
	@apply bg-red-500 text-white border-red-600
}
button.btn-error:hover{
	@apply bg-red-700
}
button.btn-success {
	@apply bg-green-500 text-white border-green-600
}
button.btn-go {
	@apply bg-blue-500 text-white border-blue-600
}
button.btn-go:hover {
	@apply bg-blue-700
}
button.btn-disabled {
	@apply bg-gray-300 italic text-gray-500 border-gray-400
}
button.btn-reverse{
	@apply text-white bg-gray-700 border-gray-600
}
button.btn-reverse:hover{
	@apply text-white bg-gray-900
}

label{
	@apply font-semibold flex my-1;
}
input[type='text'], textarea {
	@apply shadow bg-gray-100 appearance-none  rounded w-full py-2 px-3 text-gray-700 leading-tight mb-3;
}
input[type='text']:focus, textarea:focus{
/* from old petroglyph ui */
	 box-shadow:0 0 0 3px rgba(96,171,210,0.5); 
}
input[type='checkbox']{
	@apply text-blue-800 bg-red-800;
}
input.error {
	@apply  appearance-none border border-red-400 bg-red-100  w-full py-2 px-3 text-gray-700  leading-tight;
}
input.confirm{
	@apply border-green-400 bg-green-100
}
select{
	@apply block appearance-none w-full   border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight;
}
select:focus{
 @apply   outline-none shadow-outline bg-white border-green-700;
}
select.error {
	@apply shadow appearance-none border border-red-500 bg-red-100 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight;
}
.msg{
	@apply text-gray-600 text-xs italic
}
.error-msg{
	@apply text-red-500
}
.confirm-msg{
	@apply text-green-800
}
	@media (min-width : 768px){
	
		.read p, .read blockquote p{
			width:48ch;
		}

	}
	@media (min-width :1024px){
	
		.read p, .read blockquote p{
			width:66ch;
		}
		

	}
 
  
  }


